.bg1{
height:200px;
background-color:lightblue;
}

.bg2{
height:200px;
background-image:url("../images/backgrounds/bg.jpg");
background-repeat:no-repeat;
background-size:cover;
}

.bg3{
height:200px;
background:linear-gradient(red,yellow);
}

.bg4{
height:200px;
background:radial-gradient(circle,blue,white);
}